* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

h3 {
    color: green;
}

.content {
    border: 1px solid black;
    background-color: #eee;
    padding: 2em;
    margin: 0 auto;
    height: 500px;
    width: 800px;
    border-radius: 30px;
}

.box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: yellow;
}

.info {
  width: 400px;
  height: 300px;
  border: 1px solid black;
  margin: 0 auto;
  padding: 2em;
  background-color: white;
  opacity: 0.8;
}

.background {
  background-size: cover; /* Bilden ska täcka hela sidan */
  background-repeat: no-repeat; /* Bilden ska inte repetera sig */
  background-position: center; /* Bilden ska vara centrerad */
  height: 100vh; /* Bilden ska täcka 100% av skärmens höjd */
  width: 100vw; /* Bilden ska täcka 100% av skärmens bredd */
}
